In [6]:
import pandas as pd
import numpy as np

## CSU Chemistry Theory Group Coding Camp 2022
### Python basics Pt. 2: Data Storage and Manipulation with Pandas

#### Agenda:
* [Storing Data: Static Files vs. SQL databases](#storing-data)
* [Reading Data](#reading-data)
* [Manipulating Data and Basic Statistics](#manipulating-data)
* [Plotting Data](#plotting-data)

## Storing Data: Static Files vs. Databases <a name="storing-data"></a>

We store data in two distinct formats: as static files, and as database objects. While we tend to use two terms interchangeably, they are quite different: static files tend to reside on your local hard disk, while databases are often on a remote server. Crucially, databases maintain concurrency among their entries - namely, they make it safe for multiple "users" to interact with stored data at once. In the context of high performance computing, this allows several parallel worker processes to act on the same dataset at the same time. In contrast, static files can usually only be acted on by one worker at a time, to prevent overwrites and data loss. While static workers are convenient to work with, high throughput workflows frequently necessitate the use of database storage modalities to maintain computational efficiency.

**Database Pros**
- Write and read concurrency
- Easy distributed access makes it possible to have multiple computing resources working on the same dataset. Eg: AWS database 
- For SQL databases: the table schema enforces consistency
- Can handle large production workloads, at scale

**Static File Pros**
- Easy to work with - single lines of code
- Easy to back up

**Database Cons**
- Setup can be involved - behind CSU's firewall, you need ITS involvement
- SQL can be hard to work with

**Static File Cons**
- Versioning can be difficult if your file is large (eg, > 50 MB files can't be uploaded to github)
- Hard to utilize parallel worker processes

---

We're not going to cover working with databases directly in this session - if you need help with them in the future, reach out to Sabari/Shree/Guilian/Yeonjoon.

Things to know about databases:
- They come in two types: SQL and NoSQL. SQL databases have a strict table-like organization - a "schema" that data is organized by. All data in the db needs to follow this schema. NoSQL databases do not have a defining schema, and data can be unstructured - common formats follow JSON-like key-pair relationships
- SQL databases come in several "dialects": MySQL, MariaDB, PostGRES, OracleSQL, MicrosoftSQL, etc. These dialects all have slightly different syntax and run on different port numbers. Know which one you are working with!
- We frequently include database connection parameters as part of our code. If you then upload your code to github, your database parameters are now exposed to the world! Instead, read in database parameters from an external file that you can ommit from version control systems.

---

### Static Files

Static files are the most common data sources we work with in our day-to-day. There are several different type options:

- CSVs: "Comma separated values". As the name suggests, these consist of data in rows, with each data element separated by a comma and each row separated by a newline. The use of the comma as a delimitter is a common convention, but sometimes you'll see the use of a tab separator as well. It's  common practice to zip (compress) these for ease of storage - a .tar.gz extension is common on Unix based systems.
Eg:  
name, group, year  
sabari, kim, 2  
shree, paton, 4  
yeonjoon, kim, postdoc  

- JSON: "Javascript object notation". These consist of nested key-value pairs. Since they have a look similar to a python dictionary, they offer a convenient means to store data that doesn't have a strict tabular structure and has heirarchical relationships. Eg:  
name: sabari  
&ensp;group: kim  
&ensp;year: 2  
name: shree  
&ensp;group: paton  
&ensp;year: 4  
name: yeonjoon  
&ensp;group: kim  
&ensp;year: postdoc  
  
- HDF5: "Heirarchical Data Format V5". This is a relatively newer file format, created to address the limitations of traditional static files. They can handle heterogenous data, can be sliced (the entire file does not need to be loaded into memory for parts to be accessed), and do better with multiple concurrent read/write processes. We won't get these too much here.

## Reading Data <a name="reading-data"></a>

Using the python 'open' built in is useful when you have text data

In [7]:
# Dont do this - the file is kept open, even when you're done reading/writing to it
file_lines = open('mytxt.txt', 'r').readlines()

In [8]:
# Do this instead!
with open('mytxt.txt', 'r') as infile:
    file_lines = infile.readlines()

In [9]:
file_lines

['The quick brown fox jumps over the lazy dog.']

Using python's csv library:

In [2]:
import csv
with open('18_04_2022_updated_DB.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for row in csv_reader:
        # do something - this is a big file, so don't print it
        pass

The csv module also has a DictReader object (csv.DictReader) if you want to use key-value pairs:

In [4]:
with open('18_04_2022_updated_DB.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file, delimiter=',')
    for row in csv_reader:
        # print(row['SMILES SOLUTE'])
        pass

In general, you'll typically want to load csv data into a DataFrame object in pandas (more on that soon)

In [17]:
df = pd.read_csv('18_04_2022_updated_DB.csv')

Pandas has good documentation - the additional parameters to read_csv can be useful if your file looks weird.  
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

## Manipulating Data <a name="manipulating-data"></a>

Now that we have our dataframe, lets play around with it. First, lets take a look at our dataframe

In [16]:
df

                                         SMILES SOLUTE SMILES Solvent 1 SMILES Solvent 2  ...  MW  pph(g/100g) DeltaGsolv
0                                             CCCCCCCC        Cc1ccccn1              NaN  ... NaN          NaN      -4.73
1                                            Cc1ccccc1        Cc1ccccn1              NaN  ... NaN          NaN      -5.06
2                                                  CCO        Cc1ccccn1              NaN  ... NaN          NaN      -5.01
3                                             C1COCCO1        Cc1ccccn1              NaN  ... NaN          NaN      -5.01
4                                             CCC(C)=O        Cc1ccccn1              NaN  ... NaN          NaN      -4.52
...                                                ...              ...              ...  ...  ..          ...        ...
25327  COc1ccc(cc1OC)C(=O)N2CCN(CC2)c3ccc4NC(=O)CCc4c3         c1ccccc1              NaN  ... NaN          NaN        NaN
25328                     Cc1ccc2[nH]c(Nc3ccccc3)nc2c1         c1ccccc1              NaN  ... NaN          NaN        NaN
25329                                  Cc1ccccc1C(O)=O         c1ccccc1              NaN  ... NaN          NaN        NaN
25330           Cc1cc(cc(c1O)[N+]([O-])=O)[N+]([O-])=O         c1ccccc1              NaN  ... NaN          NaN        NaN
25331     CN(C)c1ccc(cc1)C(=Nc2ccccc2N)c3ccc(cc3)N(C)C         c1ccccc1              NaN  ... NaN          NaN        NaN

[25332 rows x 14 columns]

In [28]:
df.head() # Note that this is a function!

  SMILES SOLUTE SMILES Solvent 1 SMILES Solvent 2  ...  MW  pph(g/100g) DeltaGsolv
0      CCCCCCCC        Cc1ccccn1              NaN  ... NaN          NaN      -4.73
1     Cc1ccccc1        Cc1ccccn1              NaN  ... NaN          NaN      -5.06
2           CCO        Cc1ccccn1              NaN  ... NaN          NaN      -5.01
3      C1COCCO1        Cc1ccccn1              NaN  ... NaN          NaN      -5.01
4      CCC(C)=O        Cc1ccccn1              NaN  ... NaN          NaN      -4.52

[5 rows x 14 columns]

In [24]:
df.head

<bound method NDFrame.head of                                          SMILES SOLUTE SMILES Solvent 1 SMILES Solvent 2  ...  MW  pph(g/100g) DeltaGsolv
0                                             CCCCCCCC        Cc1ccccn1              NaN  ... NaN          NaN      -4.73
1                                            Cc1ccccc1        Cc1ccccn1              NaN  ... NaN          NaN      -5.06
2                                                  CCO        Cc1ccccn1              NaN  ... NaN          NaN      -5.01
3                                             C1COCCO1        Cc1ccccn1              NaN  ... NaN          NaN      -5.01
4                                             CCC(C)=O        Cc1ccccn1              NaN  ... NaN          NaN      -4.52
...                                                ...              ...              ...  ...  ..          ...        ...
25327  COc1ccc(cc1OC)C(=O)N2CCN(CC2)c3ccc4NC(=O)CCc4c3         c1ccccc1              NaN  ... NaN          NaN        NaN
25328                     Cc1ccc2[nH]c(Nc3ccccc3)nc2c1         c1ccccc1              NaN  ... NaN          NaN        NaN
25329                                  Cc1ccccc1C(O)=O         c1ccccc1              NaN  ... NaN          NaN        NaN
25330           Cc1cc(cc(c1O)[N+]([O-])=O)[N+]([O-])=O         c1ccccc1              NaN  ... NaN          NaN        NaN
25331     CN(C)c1ccc(cc1)C(=Nc2ccccc2N)c3ccc(cc3)N(C)C         c1ccccc1              NaN  ... NaN          NaN        NaN

[25332 rows x 14 columns]>

In [25]:
df.shape # This is not a function - its a tuple object of rows x columns

(25332, 14)

In [27]:
print(f'Number of data points: {df.shape[0]*df.shape[1]}')

Number of data points: 354648

Every column in a pandas dataframe is a Series object:

In [32]:
df['SMILES SOLUTE'].head()

0     CCCCCCCC
1    Cc1ccccc1
2          CCO
3     C1COCCO1
4     CCC(C)=O
Name: SMILES SOLUTE, dtype: object

I want a separate dataframe of solutes and solvent SMILES (perhaps to analyze compound diversity in my dataset):

In [38]:
compound_df = df[['SMILES SOLUTE', 'SMILES Solvent 1', 'SMILES Solvent 2']]
compound_df

                                         SMILES SOLUTE SMILES Solvent 1 SMILES Solvent 2
0                                             CCCCCCCC        Cc1ccccn1              NaN
1                                            Cc1ccccc1        Cc1ccccn1              NaN
2                                                  CCO        Cc1ccccn1              NaN
3                                             C1COCCO1        Cc1ccccn1              NaN
4                                             CCC(C)=O        Cc1ccccn1              NaN
...                                                ...              ...              ...
25327  COc1ccc(cc1OC)C(=O)N2CCN(CC2)c3ccc4NC(=O)CCc4c3         c1ccccc1              NaN
25328                     Cc1ccc2[nH]c(Nc3ccccc3)nc2c1         c1ccccc1              NaN
25329                                  Cc1ccccc1C(O)=O         c1ccccc1              NaN
25330           Cc1cc(cc(c1O)[N+]([O-])=O)[N+]([O-])=O         c1ccccc1              NaN
25331     CN(C)c1ccc(cc1)C(=Nc2ccccc2N)c3ccc(cc3)N(C)C         c1ccccc1              NaN

[25332 rows x 3 columns]

Notice that there are a lot of NaN values in the dataframe - these are 'not a number', representing a null value. Let's count how many multi-solvent systems we have using the notna function:

In [43]:
multi_compound_mask = compound_df['SMILES Solvent 2'].notna()
multi_compound_mask

0        False
1        False
2        False
3        False
4        False
         ...
25327    False
25328    False
25329    False
25330    False
25331    False
Name: SMILES Solvent 2, Length: 25332, dtype: bool

In [44]:
print(f'There are {sum(multi_compound_mask)} multi-solvent systems')

There are 9023 multi-solvent systems

We can now use the mult_compound_mask to select data from our dataframe: