# 1. Variable assignment + Types

#### 1.1 What are variables?

In [4]:
4 + 5

9

In [5]:
# assign varibables -> can be used in multiple locations.
a=4
b=5

a+b

9

#### 1.2 Variable types

In [3]:
a = 1
b = 2.0
c = 'abc'
d = '3.0'
e = str(3.0)
f = int(3.0)
print(type(a), type(b), type(c))
print(d,e,f)
print(type(d), type(e), type(f))

<class 'int'> <class 'float'> <class 'str'>
3.0 3.0 3
<class 'str'> <class 'str'> <class 'int'>

#### 1.3 Other Python variable types

In [12]:
list_ = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tuple_ = ( 'abcd', 786 , 2.23, 'john', 70.2  )
dict_ = {'one':"This is one", '2':"This is two"}

In [13]:
#indexing

print(list_[0],list_[1],list_[2])
print(tuple_[-1],tuple_[-2],tuple_[-3])
print(dict_['one'], dict_['2'])

abcd 786 2.23
70.2 john 2.23
This is one This is two

#### They can be interconverted

https://www.tutorialspoint.com/python/python_variable_types.htm

In [15]:
#casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

#### Variable names allowed vs not allowed

In [16]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [17]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-17-0e82719f22b4>, line 1)

#### Assigning multiple variables

In [18]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [19]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [20]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# 2. Boolean and logic statements

In [21]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [26]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [27]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

# 3. Operators

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

## Arithmetic Operators

+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	 
**	Exponentiation	x ** y	
//	Floor division	x // y

## Assignment Operators

=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

Other kinds can be found at https://www.w3schools.com/python/python_operators.asp

# 4. Conditionals

#### 2.1 If else statements

In [30]:
a = 10
b = 11
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [32]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [33]:
a = 2
b = 330
print("A") if a > b else print("B")

B

#### AND and OR operators is if-else

In [34]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")
    
if a > b or a > c:
    print("At least one of the conditions is True")

Both conditions are True
At least one of the conditions is True

# 5. Looping

Do a set of contious tasks for a range of numbers

- while
- for

#### 5.1 While

In [39]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

#### 5.2 Breaking a while loop

In [44]:
# break
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [45]:
#continue
i = 0
while i < 6:
    i += 1 
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [46]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#### 5.3 for

In [47]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [49]:
for x in "banana":
    print(x)

b
a
n
a
n
a

#### 5.4 Breaking a for loop

In [51]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x) 
    if x == "banana":
        break

apple
banana

In [53]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

#### 5.5 range for for loops

In [54]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [55]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [56]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

#### 5.6 Nested loops

In [58]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# 6. Functions

To do the same tasks for a part of the code.

#### 6.1 Creating a function

In [68]:

def my_function():
    print("Hello from a function")

#### 6.2 Calling a fuctions

In [69]:

def my_function():
    print("Hello from a function")

my_function()

Hello from a function

#### 6.3 arguments

In [70]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

#### 6.4 keyword arguments

In [72]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

#### 6.5 Default arguments

In [74]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

#### 6.6 Recurrsion

In [76]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

#### 6.7 Lambda functions (on-liners)

In [78]:
x = lambda a : a + 10
print(x(5))

15

In [81]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

# 7. Variable Scope

In [84]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [83]:
def myfunc():
    x = 300
    def myinnerfunc():
        print(x)
    myinnerfunc()

myfunc()

300

In [85]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [86]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300